html, body {
	width:100%;
	text-align:center;
	font-family:sans-serif;
}

header {font-size:4em}
p {font-size:1.2em}
button {font-size:1em}

label{display:inline-block}

#Slider {width: 50%}
#visualizador {white-space:nowrap}

.caixa {
	display:inline-block;
	background-color:red;
	margin-left:auto;
	margin-right:auto;
	height:10vw;
	width:10vw;
	
	font-size:10vw;
	line-height:100%;
	font-weight: bold;
	color:white;
}


