body {
	text-align:center;
	font-family:sans-serif;
}

header {font-size:4em}
p {font-size:1.2em}
button {font-size:1em}

#visualizador {}

.caixa {
	display:inline-block;
	background-color:green;
	margin-left:auto;
	margin-right:auto;
	height:15vh;
	width:15vh;
	
	font-size:15vh;
	line-height:15vh;
	font-weight: bold;
	color:white;
}
